{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block content %}
<section class="wrapper style1">
  <div class="container">
    <div id="content" class="mdtext">
        <article>
            <header>
                <h2>{{ article.title }}</h2>
            </header>
            <p>
                <time datetime="{{ article.date.isoformat() }}">
                    {{ article.date.strftime('%d.%m.%Y') }}
                </time>
            </p>
            {{ article.content }}
        </article>
    </div>
  </div>
</section>
{% endblock %}
