{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content" class="mdtext">
            <article>
                {{ page.content }}
            </article>
        </div>
    </div>
</section>
{% endblock %}

