{% extends "base.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        {% for people_header, people_type, current_people in people_data %}
        {% if current_people | length() > 0 %}
        <div id="people_type_{{ people_type}}" class="scrolling_anchor">
            <h2>{{people_header}}</h2>

            <div class="row gtr-30_customized">
                {% for person in current_people %}
                <section class="col-3 col-4-narrower col-6-mobile">
                    <div class="box highlight-box">
                        <div class="img_size_90 personcircle_medium"><a href="{{ SITEURL }}/{{ person.url }}">
                            <img src="{{ person.photo }}" alt="">
                        </a></div>
                        <h3>
                            <a href="{{ SITEURL }}/{{ person.url }}">
                                {{ person.name_surname }}
                            </a>
                        </h3>
                        <p>{{ person.position }}</p>
                    </div>
                </section>
                {% endfor %}
            </div>

        {% endif %}
        {% endfor %}
        {% for page_info in all_pages_info %}
            {% if page_info['url'] != output_file %}
                <h2>See <a href="{{ SITEURL }}/{{ page_info['url'] }}">{{ page_info['page_title'] }}</a></h2>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
