{% extends "base.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container notpaddedtexts">
        <div id="content" class="mdtext">
            <span class="image featured">
                <img src="{{ SITEURL }}/{{ project_info.photo }}" alt="">
            </span>
            <article>
                <header>
                    <h1>{{ project_info.title }}</h1>
                </header>
            </article>

            <p>
                Contact person: <a href="{{ SITEURL }}/{{ project_info.contactperson['url'] }}">{{ project_info.contactperson['name_surname'] }}</a>
            </p>

            <p>Team:
                {% for person in project_info.team %}
                    {% if person['url'] != 'None' %}
                        <a href="{{ SITEURL }}/{{ person['url'] }}">{{ person['name_surname'] }}</a>{{ ", " if not loop.last else "" }}
                    {% elif person['name_surname'] != 'None' %}
                        {{ person['name_surname'] }}{{ ", " if not loop.last else "" }}
                    {% else %}
                        {{ person['id'] }}{{ ", " if not loop.last else "" }}
                    {% endif %}
                {% endfor %}
            </p>

            <h1>Overview</h1>
            <div id="content" class="mdtext">
                {{ project_info.content }}
            </div>

            {% if (project_info.selectedpublications and project_info.selectedpublications | length() > 0) %}
            <h1>Selected Publications</h1>
            {% with publications_list = project_info.selectedpublications %}
                <ol>
                    {% for publication in publications_list %}
                        <li>
                            {% include "publication_template.html" %}
                        </li>
                    {% endfor %}
                </ol>
            {% endwith %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
