{% extends "base.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <h2>Ongoing projects</h2>
            {% with projects_list = projects_ongoing %}
                {% include "projects_template.html" %}
            {% endwith %}

            <h2>Completed projects</h2>
            {% with projects_list = projects_completed %}
                {% include "projects_template.html" %}
            {% endwith %}
        </div>
    </div>
</section>
{% endblock content %}
